a {
    color: #EEBC47 !important;
}

#plotly_time_dist {
  margin-bottom: 20px !important;
}

h1 {
  margin-bottom: 0 !important;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  max-width: 500px !important;
  border: 1px #999999 solid ;
}

.btn {
  width: auto !important;

  margin-top: 20px !important;
  margin-bottom: 20px !important;

  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

}

.progress-bar-yellow {
    background-color: #EEBC47 !important;
}

.btn-primary {
  background-color: #657DB4 !important;
  border-color: #657DB4 !important;
}

.btn-secondary {
  background-color: #D34A7C !important;
  border-color: #D34A7C !important;
}

.btn-warning {
  color: #EEBC47 !important;
  background-color: #303030 !important;
  border-color: #EEBC47 !important;
}

#leaderboard_dt , th, td {
    font-size: 15px !important;
    color: white !important;
}


.irs-handle {
  width: 5.5rem !important;
  height: 5.5rem !important;
  background: url('slider-logo.png') no-repeat center center;
  background-size: cover !important;
  transform: translate(-10%, -88%);
}

/*
.irs--shiny .irs-handle:before{
  content:"🏃‍♂️️";
  transform-origin: center;
  transform: translate(-50%, -50%);
  text-align:center;
  top: 50%;
  left: 50%;
  font-size: 60px;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 1px;
  margin: -15px 0 0 -15px;
  transform: scaleX(-1);
}
*/

.irs--shiny .irs-handle{
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}

.irs--shiny .irs-handle.state_hover,
.irs--shiny .irs-handle:hover{
  background-color: transparent !important;
}

.label{
  display:none !important;
}

.irs--shiny .irs-bar{
  background-color: #D34A7C !important;
  border-top: 1px solid #D34A7C !important;
  border-bottom: 1px solid #D34A7C !important;
}

.irs-line {
  border: 0.1px #EEBC4755 solid !important;
}

.irs--shiny .irs-min, .irs--shiny .irs-max{
  display:none !important;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single{
  display:none !important;
}

.irs {
  pointer-events: none !important;
}

#progress_bar .form-group {
  width: 100% !important;
}
